@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;

}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;

  }
}

// Primary Colors
$--primary-red: hsl(0, 100%, 74%);
$--primary-green: hsl(154, 59%, 51%);

// Accent Colors
$--accent-blue: hsl(248, 32%, 49%);

// Neutral Colors
$--neutral-dark-blue: hsl(249, 10%, 26%);
$--neutral-grayish-blue: hsl(246, 25%, 77%);

// Other color
$--white: hsl(0, 0%, 98%);

// Font Weights
$--weight-400: 400;
$--weight-500: 500;
$--weight-600: 600;
$--weight-700: 700;

//Font Size;
$--font-header:clamp(1.5rem, calc(0.69rem + 2.17vw), 6rem);


body {
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-image: url(/images/bg-intro-mobile.png);
    background-color: $--primary-red;
    margin-block: 3rem;
   

}

input {
  font-weight: $--weight-500;
  color: $--neutral-dark-blue;
  line-height: 3rem;
  padding-inline-start: 0.5em;
  border: 0.5px solid $--neutral-grayish-blue;
  position: relative;

}

input:valid {
  border: 1px solid $--primary-green;
}
input:invalid{
  color: $--primary-red;
  border: 2px solid $--primary-red;
  background-image: url(/images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: center  right 1em;
  background-size: 1.2em;
  
}

input:focus-visible {
  border: 3px solid $--neutral-grayish-blue;
}

.warning {
  color: $--primary-red;
  font-size: 10px;
  margin-inline-start: auto;
  margin-block-start: - 2em;

}

.main {
    max-inline-size: 75rem;
    margin-inline: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;

    
    @media (min-width: 765px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 4.6875em;
      > * {
        flex: 1;
      }
    }

    &__left {
      text-align: center;

      @media (min-width: 47.8125rem) {
      text-align: left;
      }
    }



  
    &__header {
        font-size: $--font-header;
        font-weight: $--weight-700;
        color: $--white;
        margin-block-end: 2em;

        @media (min-width: 47.8125rem) {
          margin-block-start: -3.5rem;
          margin-block-end: 1rem;
          }
      
    }

    &__para {
        font-size: 1rem;
        color: $--white;
        font-weight: 500;
        margin-block-end: 4.125em;
    }

    &__btn {

        &.btn--blue {
            font-size: .875rem;
            color: $--white;
            background-color: $--accent-blue;
            width: 100%;
            padding-block: 1.375em;
            margin-block-end: 2em;
            border: none;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            box-shadow: 0 5px 2.5px hsl(244, 47%, 20%);
            transition: box-shadow 0.15s, transform 0.15s;
            -webkit-transition: box-shadow 0.15s, transform 0.15s;
            -moz-transition: box-shadow 0.15s, transform 0.15s;
            -ms-transition: box-shadow 0.15s, transform 0.15s;
            -o-transition: box-shadow 0.15s, transform 0.15s;
                     &:active {
              box-shadow: 0 2px 1px hsl(244, 47%, 20%);
              transform: translateY(2px);
              -webkit-transform: translateY(2px);
              -moz-transform: translateY(2px);
              -ms-transform: translateY(2px);
              -o-transform: translateY(2px);
            }
          }

        &.btn--green {
          @extend .btn--blue;
          text-transform: uppercase;
          font-weight: 600;
          padding-inline: 1em;
          background-color: $--primary-green;
          box-shadow: 0 4px 1px hsl(176, 69%, 22%);

         
        &:active {
          box-shadow: 0 2px 1px  hsl(176, 69%, 22%);
          transform: translateY(2px);
          -webkit-transform: translateY(2px);
          -moz-transform: translateY(2px);
          -ms-transform: translateY(2px);
          -o-transform: translateY(2px);
        }
      }
    }

    &__form {
        display: flex;
        flex-direction: column;
        background-color: $--white;
        gap: 1.5em;
        padding:  clamp(1.50rem, calc(1.15rem + 1.50vw), 1.80rem);
        border-radius: .375rem;
        -webkit-border-radius: .375rem;
        -moz-border-radius: .375rem;
        -ms-border-radius: .375rem;
        -o-border-radius: .375rem;
        margin-block-end: 4.1875em;
    }

    &__terms {
        font-size: .7688rem;
        margin-inline: 1.5rem;
        color: $--neutral-grayish-blue;

       span {
        color: $--primary-red;
        font-weight: $--weight-600;
       }
    }
}

footer {
  font-size: .875rem;
  p {
    color: #F5F5F5;
  }

  a {
    color: #FF2E63;
    font-weight: $--weight-700;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline 2px solid;
    }
  }
}

