@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
// Colors
$primary_violet: hsl(256, 25%, 20%);
$primary_blue:  hsl(216, 30%, 68%);
$neutral_violet: hsl(270, 9%, 17%);
$neutral_gray_violet: hsl(273, 4%, 51%);
$neutral_light_gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//Font Weight
$weight__400: 400;
$weight__700: 700;

//Font Style

$font__heading: 'DM Serif Display', serif;
$font__body:  'Karla', sans-serif;

